body {
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

#globalheader {
	padding: 0px;
	background: #000000;
}

#globalheader #globalnav {}

#globalheader #globalnav #tails {
	margin: 0px;
	padding: 0px;
}

#globalheader #globalnav li {
	display: inline-block;
	line-height: 27px;
}

#globalheader #globalnav li a {
	color: #CCCCCC;
	text-decoration: none; 
	padding-left: 10px;
	padding-right: 10px;
}

#globalheader #globalnav li a:focus, a:hover, a:active {
	border-bottom: 2px solid red;
	color: #FFFFFF;
	outline: 0;
}

#logWindow {
	overflow: scroll;
	height: 600px;
	
	padding: 15px;
	margin: 15px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

#command {
	visibility: hidden;
	margin-left: 20px;
	color: #777777;
}

#autoscroll {
	visibility: hidden;
	margin-left: 20px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
